<form>
  <h1 mat-dialog-title>Select snippet template</h1>

  <mat-dialog-content>
    <div [formGroup]="snippetForm">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Snippet</mat-label>
        <mat-select formControlName="snippet">
          <mat-option *ngFor="let item of snippetExamples$ | async" [value]="item.name">{{item.name | titlecase}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Field name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Label</mat-label>
        <input matInput formControlName="label">
      </mat-form-field>

      <div class="m-b-1">
        <mat-slide-toggle formControlName="required">Required</mat-slide-toggle>
      </div>
    </div>

    <fb-form-builder *ngIf="data" [data]="data"></fb-form-builder>
  </mat-dialog-content>

  <mat-dialog-actions class="jc-end">
    <button mat-button mat-dialog-close>{{'GENERAL.CANCEL' | transloco}}</button>
    <button type="submit" mat-flat-button color="primary" [disabled]="snippetForm.invalid" (click)="submit()">Submit</button>
  </mat-dialog-actions>
</form>
