<mat-form-field class="w-full">
	<mat-label>{{'ICON' | transloco}}</mat-label>
	<mat-icon matPrefix *ngIf="ctrl.value && itemMap[ctrl.value]">{{itemMap[ctrl.value].value}}</mat-icon>
	<input matInput [attr.aria-label]="'ICON' | transloco" [matAutocomplete]="auto"
		[formControl]="ctrl">
	<mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
		<mat-option *ngFor="let item of filteredIcons$ | async" [value]="item.value">
			<mat-icon>{{item.value}}</mat-icon>
			<span>{{item.name}}</span>
		</mat-option>
	</mat-autocomplete>
</mat-form-field>