<div class="action-inset" (click)="openDialog()">
  <mat-icon>vpn_key</mat-icon> {{'CHANGE_PASSWORD' | transloco}}
</div>

<ng-template #dg>
  <h4 mat-dialog-title>{{'CHANGE_PASSWORD' | transloco}}</h4>

  <form [formGroup]="form">
    <mat-dialog-content>
      <div class="p-b-s">
        <mat-form-field class="w-full">
          <mat-label>{{'PASSWORD' | transloco}}</mat-label>
          <input [type]="type" name="prevent_autofill" matInput formControlName="password" />
          <mat-hint>{{'PASSWORD_MIN_LENGTH' | transloco}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>{{'REPEAT_PASSWORD' | transloco}}</mat-label>
          <input [type]="type" name="prevent_autofill-1" matInput formControlName="repeatPassword" />
          <mat-hint>
            <button tabindex="-1" class="show-button" (click)="showPassword()" type="button">{{'SHOW_HIDE_PASSWORD' | transloco}}</button>
          </mat-hint>
        </mat-form-field>

        <mat-error *ngIf="form.errors?.hasOwnProperty('equal') && form.get('password').touched && form.get('repeatPassword').touched" class="ta-center">
          {{'PASSWORDS_NOT_MATCHING' | transloco}}
        </mat-error>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-flat-button mat-dialog-close>{{'CANCEL' | transloco}}</button>
      <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid" [jpLoadClick]="change()">{{'SAVE' | transloco}}</button>
    </mat-dialog-actions>
  </form>
</ng-template>
