rules_version = '2';

service firebase.storage {
  function admin() {
    return request.auth.token.role == 'admin'
  }

  function authenticated() {
    return request.auth != null;
  }

  function isCurrentUser(userId) {
    return request.auth.uid == userId;
  }

  match /b/{bucket}/o {

    match /generated/{files=**} {
      allow read: if true;
      allow write: if admin();
    }

    match /users/{userId=**} {
      allow read: if authenticated();
      allow write: if admin() || isCurrentUser(userId);
    }

    match /public/{files=**} {
      allow read: if true;
      allow write: if admin();
    }
  }
}
