.dropzone {
  margin-top: 20px;

  flex: 1;

  border-radius: 8px;

  &.active {
    outline: 2px dashed #adadad;
    outline-offset: 2px;

    background-color: #E7F0FE;
  }
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.drive {

  width: 100%;
  height: calc(100vh - 64px);
  padding: 20px;

  &-subheader {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
  }

  &-item {
    user-select: none;
    border-radius: 8px;

    overflow: hidden;

    color: rgba(0, 0, 0, 0.65);

    &:focus, &.active {
      color: #1967d2;
      background-color: #E7F0FE;
    }

    &:focus &-icon, &.active &-icon {
      color: #1967d2;
    }

    &-name {
      font-weight: 500;

      padding-left: 10px;

      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }

    &-file {
      aspect-ratio: 1 / 1;
      width: 100%;
    }
  }
}

.drive-actions {
  position: fixed;

  bottom: 20px;
  right: 20px;

  z-index: 9999;
}

.downloads {
  width: 300px;

  padding-top: 0;

  &-icon {
    cursor: pointer;

    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

.wrap-text {
  display: inline-block;
  width: 80%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
