<mat-icon class="icon">search</mat-icon>
<input matInput class="search" autocomplete="off" placeholder="Spotlight Search" spellcheck="false" [formControl]="searchControl">

<ng-container *ngIf="results$ | async as results">
  <ng-container *ngIf="(results | keyvalue).length">
    <mat-selection-list [multiple]="false" (selectionChange)="selectItem($event)">
      <ng-container *ngFor="let category of results | keyvalue">
        <h3 matSubheader *ngIf="category.value.length">{{category.key | transloco}}</h3>
        <mat-list-option *ngFor="let result of category.value" [value]="result">
          {{result.value}}
          <div mat-line class="option-description">{{result.description}}</div>
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
  </ng-container>
</ng-container>
