<section class="grid p-y-l">
  <div class="col-4 col-m-6 col-s-9 col-xs-12">
    <mat-card>
      <div class="p-a-m">
        <img class="login-logo" src="assets/images/logo.png" alt="Logo" width="160">
        <!--<h6 class="m-b-l p-t-m ta-center">{{staticConfig.displayName}}</h6>-->
        <!--Social login-->
        <section *ngIf="staticConfig.login.google">
          <div class="m-b-s">
            <button class="google-login" (click)="loginGoogle()">
              <img src="assets/images/google-logo.svg" alt="" class="google-login-icon">
              <span class="google-login-text">
              {{'LOGIN_WITH' | transloco:{value: 'Google'} }}
            </span>
            </button>
          </div>
        </section>

        <section *ngIf="staticConfig.login.facebook">
          <div class="m-b-s">
            <button class="w-full" mat-stroked-button (click)="loginFacebook()">
              {{'LOGIN_WITH' | transloco:{value: 'Facebook'} }}
            </button>
          </div>
        </section>

        <!--Divider-->
        <div class="flex ai-center jc-center m-y-m disabled"
          *ngIf="(staticConfig.login.google || staticConfig.login.facebook) && staticConfig.login.email">
          <hr class="flex1">
          <p class="p-x-s">{{'OR' | transloco | uppercase}}</p>
          <hr class="flex1">
        </div>

        <!--Regular login-->
        <form [formGroup]="loginForm" *ngIf="staticConfig.login.email">
          <mat-form-field class="w-full">
            <mat-label>{{'EMAIL' | transloco}}</mat-label>
            <input matInput type="email" formControlName="emailLogin" />
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>{{'PASSWORD' | transloco}}</mat-label>
            <input matInput #password [type]="type" formControlName="passwordLogin" />
          </mat-form-field>

          <div class="m-b-m flex jc-between">
            <button tabindex="-1" class="show-button" (click)="showPassword()" type="button">{{'SHOW_HIDE_PASSWORD' |
              transloco}}</button>
            <mat-checkbox formControlName="remember">{{'STAY_LOGGED_IN' | transloco}}</mat-checkbox>
          </div>

          <button mat-flat-button color="primary" class="w-full" [disabled]="loginForm.invalid"
            [jpLoadClick]="loginEmail()">
            {{'LOGIN' | transloco}}
          </button>
          <div class="flex jc-end">
            <a routerLink="/trigger-password-reset" class="iblock ta-right fg-secondary fs-small">{{'FORGOT_PASSWORD' |
              transloco}}</a>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</section>

<ng-template #mfaVerification>
  <h4 mat-dialog-title>{{'MFA_VERIFICATION' | transloco}}</h4>

  <mat-dialog-content [ngSwitch]="verificationState">

    <form *ngSwitchCase="'select'" [formGroup]="deviceForm">
      <mat-form-field class="w-full">
        <mat-label>{{'MFA_SELECT_DEVICE' | transloco}}</mat-label>
        <mat-select formControlName="device">
          <mat-option *ngFor="let hint of resolver.hints" [value]="hint.uid">
            {{hint.phoneNumber}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button type="submit" mat-stroked-button color="primary" id="mfa-submit">
        {{'SELECT' | transloco}}
      </button>
    </form>

    <form *ngSwitchCase="'submit'" [formGroup]="codeForm">
      <mat-form-field class="w-full">
        <mat-label>{{'VERIFICATION_CODE' | transloco}}</mat-label>
        <input autocomplete="off" matInput formControlName="code" inputmode="numeric">
      </mat-form-field>

      <button mat-stroked-button color="primary" type="submit" [disabled]="codeForm.invalid"
        [jpLoadClick]="verifyMfa()">
        {{'AUTHENTICATE' | transloco}}
      </button>
    </form>
  </mat-dialog-content>
</ng-template>