@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.login-logo {
  display: block;
  margin: 2rem auto;
  margin-top: 2rem !important;
}

.google-login {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  padding: 0 8px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0,0,0,.16);
  border-radius: 4px;
  transition: .25s;

  &:hover {
    background-color: rgba(0,0,0,.08);

    .google-login-text {
      opacity: 1;
    }
  }

  &-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-right: 24px;
    left: 16px;
  }

  &-text {
    flex: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
    opacity: .54;
    font-size: 14px;
    text-align: center;
    transition: .25s;
  }
}

.show-button {
	border: none;
	background: none;
	cursor: pointer;
	
	&:hover {
		text-decoration: underline;
	}
}