:host {
  .mat-toolbar-single-row {
    border-radius: 4px;
    padding: var(--table-cell-padding);
  }

  .mat-mdc-card-content:last-child {
    padding-bottom: 0 !important;
  }

  .mat-mdc-card-content:first-child {
    padding-top: 0 !important;
  }

  .mat-mdc-card-content {
    padding: 0 8px !important;
  }
}

::ng-deep {

  /* The .select-all class was added to fix the 'select all' checkbox in place */
  .select-all > .mat-checkbox-layout > .mat-checkbox-inner-container {
    overflow: unset;
  }

  table {
    /**
    * Reduce padding and margin in columns with controlls maximally
    */
    .mat-form-field-wrapper { padding-bottom: 0; }
    .fb-field-12 > section { margin: 0 !important; }
  }
}

.pagination {
  height: unset;
  padding: 1rem 0 0 var(--table-cell-padding) !important;
}

@media (max-width: 900px) {
  .mat-cell .column-inner:not(:first-of-type) {
    margin-right: 1rem;
  }
}