.table-wrapper {
  overflow-x: auto;
}

:host {
  .mat-toolbar-single-row {
    border-radius: 4px;
  }
}

::ng-deep {

  /* The .select-all class was added to fix the 'select all' checkbox in place */
  .select-all > .mat-checkbox-layout > .mat-checkbox-inner-container {
    overflow: unset;
  }

  table {
    /**
    * Reduce padding and margin in columns with controlls maximally
    */
    .mat-form-field-wrapper { padding-bottom: 0; }
    .fb-field-12 > section { margin: 0 !important; }
  }
}
