$loaderColor: #4a8df8;

#load-bar {
  animation: cssAnimation 0s 250ms forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to { visibility: visible; }
}

.slider {
  position: fixed;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.line {
  position: absolute;
  opacity: 0.4;
  background: $loaderColor;
  width: 150%;
  height: 5px;
}

.subline {
  position: absolute;
  background: $loaderColor;
  height: 5px;
}
.inc {
  animation: increase 2s infinite;
}
.dec {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from { left: -5%; width: 5%; }
  to { left: 130%; width: 100%;}
}
@keyframes decrease {
  from { left: -80%; width: 80%; }
  to { left: 110%; width: 10%;}
}
