<section class="grid p-y-l">
  <div class="col-4 col-m-5 col-s-8 col-xs-12">
    <mat-card>
      <div class="p-a-m">
        <h6 class="m-b-l p-t-m ta-center">{{staticConfig.displayName}} {{'PASSWORD_RESET' | transloco}}</h6>
        <form [formGroup]="form">
          <mat-form-field class="w-full">
            <mat-label>{{'EMAIL' | transloco}}</mat-label>
            <input formControlName="email" type="email" matInput />
            <mat-error *ngIf="form.dirty">{{'EMAIL_DOESNT_EXIST' | transloco}}</mat-error>
          </mat-form-field>
          <button type="submit" mat-flat-button color="primary" class="w-full" [disabled]="form.invalid"
            [jpLoadClick]="reset()">
            {{'RESET_MY_PASSWORD' | transloco}}
          </button>
        </form>
        <a [routerLink]="staticConfig.loginRoute" class="block ta-center fs-small fg-secondary p-t-s">
          {{'GO_BACK' | transloco}}
        </a>
      </div>
    </mat-card>
  </div>
</section>