<button mat-flat-button (click)="open()">{{'ADD' | transloco}} User</button>

<ng-template #addDialog>
  <h4 mat-dialog-title>{{'ADD_USER' | transloco}}</h4>

  <form autocomplete="off">
    <mat-dialog-content>

      <mat-form-field class="w-full">
        <mat-label>{{'METHOD' | transloco}}</mat-label>
        <mat-select [formControl]="accountType">
          <mat-option *ngFor="let option of accountTypes" [value]="option.value">
            {{option.label | transloco}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container [formGroup]="form">
        <mat-form-field class="w-full">
          <mat-label>{{'EMAIL' | transloco}}</mat-label>
          <input type="email" formControlName="email" matInput>
        </mat-form-field>

        <ng-container *ngIf="accountType.value === 'manual'">
          <mat-form-field class="w-full">
            <mat-label>{{'PASSWORD' | transloco}}</mat-label>
            <input [type]="type" formControlName="password" autocomplete="new-password" name="pwd" matInput>
            <div class="flex" matSuffix>
              <button type="button" tabindex="-1" mat-icon-button (click)="toggleType()">
                <mat-icon>{{type === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
              </button>
              &nbsp;
              <button type="button" tabindex="-1" mat-icon-button [matTooltip]="'GENERATE_RANDOM_PASSWORD' | transloco" (click)="generateRandomPassword()">
                <mat-icon>cached</mat-icon>
              </button>
            </div>
            <mat-error>{{'PASSWORD_MIN_LENGTH' | transloco}}</mat-error>
          </mat-form-field>

          <mat-checkbox class="m-b-m" formControlName="requireReset">{{'REQUIRE_RESET_ON_FIRST_LOGIN' | transloco}}</mat-checkbox>
        </ng-container>

        <mat-form-field class="w-full">
          <mat-label>{{'ROLE' | transloco}}</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles$ | async" [value]="role.id">{{role.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-flat-button mat-dialog-close>{{'CANCEL' | transloco}}</button>
      <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid" [jpLoadClick]="add()">{{'ADD' | transloco}}</button>
    </mat-dialog-actions>
  </form>
</ng-template>
