/**
 * Theme
 *
 * Adjustable theme settings.
 *
 *============================================================================*/



/* Theme
 *============================================================================*/

$colors-themes: (
  primary: (
    theme    : #3F50B5,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.8),
    tertiary : rgba(255,255,255,.15),
  ),
  accent: (
    theme    : #ff4081,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.8),
    tertiary : rgba(255,255,255,.15),
  ),
  warn: (
    theme    : #dc143c,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.8),
    tertiary : rgba(255,255,255,.15),
  ),
  backdrop: (
    theme    : #F0F0F0,
    primary  : rgba(0,0,0,.9),
    secondary: rgba(0,0,0,.7),
    tertiary : rgba(0,0,0,.15),
  ),
  panel: (
    theme    : #fff,
    primary  : rgba(0,0,0,.9),
    secondary: rgba(0,0,0,.7),
    tertiary : rgba(0,0,0,.15),
  ),
  sidebar: (
    width    : 256px,   /* Sidebar width (adjusting this number also changes padding-left on the main element)  */
    width-mob: 48px,    /* Sidebar width on mobile */
    scaling  : 16px,    /* Sidebar elements scale based on this number */
    theme    : #262626, /* Sidebar background color */
    contrast : #ffffff, /* Sidebar text color */
    accent   : #80B2ED, /* Sidebar icon color */
    active   : #273C54, /* Background color of active items in sidebar */
    hover    : #363636, /* Background color of hovered items in sidebar */
    position : 0,       /* Sidebar position, 0 = left, 1 = right */
  )
);



/* Generating CSS variables in :root
 *============================================================================*/

:root {
  @each $group-name, $group in $colors-themes {
    @each $color-name, $color-value in $group {
      --#{$group-name}-#{$color-name}: #{$color-value};
    }
  }
}



/* Generating theme classes
 *============================================================================*/

@each $group-name, $group in $colors-themes {
  .#{$group-name} {
    --theme    : var(--#{$group-name}-theme);
    --primary  : var(--#{$group-name}-primary);
    --secondary: var(--#{$group-name}-secondary);
    --tertiary : var(--#{$group-name}-tertiary );
  }
}
