<section class="container">
  <div class="flex ai-center p-x-m p-y-s">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="flex ai-center">
      <ng-container *ngIf="data.item | fileIcon as icon">
        <mat-icon [style]="'color: ' + (icon.color === 'rgba(0, 0, 0, 0.65)' ? 'white' : icon.color)">{{icon.name}}</mat-icon>
      </ng-container>
      <div class="name" [matTooltip]="data.item.name" matTooltipShowDelay="1000">{{data.item.name}}</div>
    </div>

    <div class="flex-1"></div>
    <div>
      <button mat-icon-button (click)="storage.downloadItem(data.item)">
        <mat-icon>file_download</mat-icon>
      </button>
    </div>


    <div class="preview">
      <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="'image'">
          <ng-container *ngIf="data.item | fileUrl | async as url; else loading">
            <img [src]="url" [alt]="data.item.name" class="preview-image">
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'video'">
          <ng-container *ngIf="data.item | fileUrl | async as url; else loading">
            <video muted controls preload="metadata" class="preview-video">
              <source [src]="url" [type]="data.item.contentType">
            </video>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'audio'">
          <ng-container *ngIf="data.item | fileUrl | async as url; else loading">
            <audio controls preload="metadata" class="preview-audio">
              <source [src]="url" [type]="data.item.contentType">
            </audio>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'pdf'">
          <ng-container *ngIf="data.item | fileUrl | async as url; else loading">
            <iframe [src]="(url + '#toolbar=0&navpanes=0&scrollbar=0') | jpSanitize:'resourceUrl'" frameborder="0" class="preview-pdf"></iframe>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'other'">
          <mat-card style="height: 140px; width: 300px; border-radius: 8px; background-color: #4B494C; color: #fff;">
            <div mat-card-title>
              <div class="flex jc-center">
                No preview available
              </div>
            </div>

            <div class="flex jc-center ai-center m-t-l">
              <button mat-raised-button color="primary" (click)="storage.downloadItem(data.item)">
                <mat-icon>file_download</mat-icon>
                Download
              </button>
            </div>
          </mat-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>

<ng-template #loading>
  <div class="flex jc-center">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
</ng-template>
