.jms-instance-single-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

::ng-deep {
  /**
   * Page Builder Overrides
   */
   .pb {
    .pb-intro {
      background: white;
      border-radius: 4px;
    }
  }

  /**
   * Template Editor Overrides
   */
  fb-tm-template-editor {
    background: white !important;
    border-radius: 4px;
  }
}
