<form class="mw-30 m-l-auto m-r-auto p-a-1" [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title><b>{{staticConfig.displayName}} {{'RESET_PASSWORD.PASSWORD_RESET' | transloco}}</b></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{'GENERAL.PASSWORD' | transloco}}</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>

      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{'RESET_PASSWORD.REPEAT_PASSWORD' | transloco}}</mat-label>
        <input type="password" matInput formControlName="repeatPassword" />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="ta-right">
      <a mat-button routerLink="/login">
        {{'RESET_PASSWORD.GO_BACK' | transloco}}
      </a>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        [jpLoadClick]="reset()">
        {{'RESET_PASSWORD.RESET_MY_PASSWORD' | transloco}}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
