.layout-header {
  display: none;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  align-items: center;
  padding: 0 16px;
  background: var(--primary);
  color: var(--primary-c-1);
  box-shadow: 0 2px 8px rgba(0,0,0,.32);

  &-title {
    margin-right: auto;
    font-weight: bold;
  }

  @media (max-width: 1200px) {
    display: flex;
  }
}

.layout-nav {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
  width: 256px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--panel);
  color: var(--panel-c-1);
  box-shadow: 2px 0 8px rgba(0,0,0,.32);

  @media (max-width: 1200px) {
    top: 64px;
    transform: translateX(-256px);
    transition: .4s;

    &.layout-nav-expanded {
      transform: translateX(0);
    }
  }

  &-title {
    display: block;
    padding: 24px 16px;
    font-weight: bold;
    font-size: larger;
    border-bottom: 1px solid var(--panel-c-3);

    @media (max-width: 1200px) {
      display: none;
    }
  }
}

.layout-main {
  padding-left: 256px;

  @media (max-width: 1200px) {
    padding-left: 0;
    padding-top: 64px;
  }
}

.mat-list-item.active {
  background-image: linear-gradient(to right, transparent, transparent calc(100% - 4px), var(--primary) calc(100% - 4px))
}
