<header class="layout-header">
  <div class="layout-header-title">{{staticConfig.displayName}}</div>
  <button mat-icon-button [attr.aria-label]="'LAYOUT.MENU' | transloco" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</header>

<nav class="layout-nav" [class.layout-nav-expanded]="navigationExpanded">
  <div class="layout-nav-title">{{staticConfig.displayName}}</div>
  <mat-nav-list>
    <ng-container *ngFor="let item of links$ | async" [ngSwitch]="item.type">
      <ng-container *ngSwitchCase="navigationItemType.Link">
        <a mat-list-item [jmsActiveLink]="item" (click)="closeMenu()">
          <mat-icon *ngIf="item.icon" mat-list-icon>{{item.icon}}</mat-icon>
          <span mat-line>{{item.label | transloco}}</span>
        </a>
        <mat-divider></mat-divider>
      </ng-container>

      <ng-container *ngSwitchCase="navigationItemType.Empty">
        <mat-list-item>
          <mat-icon *ngIf="item.icon" mat-list-icon>{{item.icon}}</mat-icon>
          <span mat-line>{{item.label | transloco}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>

      <ng-container *ngSwitchCase="navigationItemType.Expandable">
        <mat-list-item (click)="item.active = !item.active">
          <mat-icon *ngIf="item.icon" mat-list-icon>{{item.icon}}</mat-icon>
          <span mat-line>{{item.label | transloco}}</span>
          <mat-icon>{{item.active ? 'expand_less' : 'expand_more'}}</mat-icon>
        </mat-list-item>

        <mat-nav-list *ngIf="item.active" dense>
          <a *ngFor="let child of item.children" mat-list-item [jmsActiveLink]="child" (click)="closeMenu()">
            <mat-icon *ngIf="child.icon" mat-list-icon>{{child.icon}}</mat-icon>
            <span mat-line>{{child.label | transloco}}</span>
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
      </ng-container>

      <ng-container *ngSwitchCase="navigationItemType.Expanded">
        <a *ngIf="item.value; else empty;" mat-list-item [jmsActiveLink]="item">
          <mat-icon *ngIf="item.icon" mat-list-icon>{{item.icon}}</mat-icon>
          <span mat-line>{{item.label | transloco}}</span>
        </a>

        <ng-template #empty>
          <mat-list-item>
            <mat-icon *ngIf="item.icon" mat-list-icon>{{item.icon}}</mat-icon>
            <span mat-line>{{item.label | transloco}}</span>
          </mat-list-item>
        </ng-template>

        <mat-nav-list dense>
          <a *ngFor="let child of item.children" mat-list-item [jmsActiveLink]="child" (click)="closeMenu()">
            <mat-icon *ngIf="child.icon" mat-list-icon>{{child.icon}}</mat-icon>
            <span mat-line>{{child.label | transloco}}</span>
          </a>
        </mat-nav-list>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async as user">
      <a mat-list-item routerLink="profile/information">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span mat-line>Profile</span>
      </a>
      <mat-nav-list dense>
        <a mat-list-item routerLink="profile/information" routerLinkActive="active">
          <mat-icon mat-list-icon>info</mat-icon>
          <span mat-line>Information</span>
        </a>
        <a mat-list-item routerLink="profile/security" routerLinkActive="active">
          <mat-icon mat-list-icon>security</mat-icon>
          <span mat-line>Security</span>
        </a>
      </mat-nav-list>
    </ng-container>

    <mat-divider></mat-divider>

    <a mat-list-item (click)="logOut()">
      <mat-icon mat-list-icon>power_settings_new</mat-icon>
      <span mat-line>{{'LAYOUT.LOG_OUT' | transloco}}</span>
    </a>
  </mat-nav-list>
</nav>

<main class="layout-main">
  <router-outlet></router-outlet>
</main>
