<h4 mat-dialog-title>Filter</h4>
<form>
  <mat-dialog-content>
    <fb-form-builder #cForm [data]="data.module"></fb-form-builder>
  </mat-dialog-content>
  <mat-dialog-actions>
    <ng-container *ngIf="data.module.clearFilters">
      <button type="button" mat-flat-button [jpLoadClick]="apply(cForm.form, cForm.innerParser, data.module.clearFilters)">
        {{data.module.clearFiltersLabel || 'Clear'}}
      </button>
    </ng-container>
    <button type="submit" mat-flat-button color="primary" [loadClickPreventDefault]="true" [jpLoadClick]="apply(cForm.form, cForm.innerParser)">
      {{'APPLY' | transloco}}
    </button>
  </mat-dialog-actions>
</form>
