<form class="mw-30 m-l-auto m-r-auto p-a-1" [formGroup]="loginForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title><b>{{'LOGIN.LOGIN' | transloco}} to {{staticConfig.displayName}}</b></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!--Regular login-->
      <section>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'GENERAL.EMAIL' | transloco}}</mat-label>
          <input
            matInput
            type="email"
            formControlName="emailLogin"
          />
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'GENERAL.PASSWORD' | transloco}}</mat-label>
          <input
            matInput
            #password
            type="password"
            formControlName="passwordLogin"
          />
          <mat-hint align="end">
            <a routerLink="/trigger-password-reset">{{'LOGIN.FORGOT_PASSWORD' | transloco}}</a>
          </mat-hint>
        </mat-form-field>

        <div class="m-t-1"></div>

        <button
          mat-flat-button
          color="primary"
          class="w-100"
          [disabled]="loginForm.invalid"
          [jpLoadClick]="loginEmail()">
          {{'LOGIN.LOGIN' | transloco}}
        </button>
      </section>

      <!--Divider-->
      <div class="ta-center c-panel-c-2 m-a-1 fs-small">{{'GENERAL.OR' | transloco}}</div>

      <!--Social login-->
      <section>
        <div class="d-flex">
          <button class="w-100" mat-stroked-button (click)="loginGoogle()">Google</button>
          <div class="m-l-p5"></div>
          <button class="w-100" mat-stroked-button (click)="loginFacebook()">Facebook</button>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</form>
