<section class="mw-80 m-l-auto m-r-auto p-a-1">
  <header class="d-flex ai-center m-b-1 fs-small c-panel-c-2">
    <span>/ {{name}}</span>
    <div class="fg-1"></div>
    <ng-container *ngFor="let item of toolbar">
      <a
        *ngIf="item === 'add'; else element;"
        mat-flat-button
        color="primary"
        routerLink="../single/new">
        {{'GENERAL.ADD' | transloco}} {{name}}
      </a>
      <ng-template #element>
        <div [innerHTML]="item | jpSanitize"></div>
      </ng-template>
    </ng-container>
  </header>

  <main>
    <div class="d-flex ai-center fd-row-rev jc-between p-a-1" *ngIf="views && views.length">
      <div class="m-r-1">
        <button
          *ngFor="let view of views"
          [matTooltip]="view.title"
          [color]="activeView === view.selector ? 'primary' : 'default'"
          (click)="changeCurrentView(view.selector)"
          mat-icon-button>
          <mat-icon>{{view.icon}}</mat-icon>
        </button>
      </div>

      <ng-container *ngIf="ioc.subHeaderTemplate$ | async as subHeaderTemplate">
        <ng-container *ngTemplateOutlet="subHeaderTemplate"></ng-container>
      </ng-container>
    </div>

    <div class="contents" [innerHtml]="currentView | jpSanitize"></div>
  </main>
</section>
