$borderRadius: 4px;

.folder {

  background: var(--backdrop-theme);
  border-color: var(--primary-theme);
  border-radius: $borderRadius;
  cursor: pointer;

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--primary-theme);
    color: var(--primary-primary);
  }
}

.file {

  overflow: hidden;
  border-radius: $borderRadius;

  &-preview {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/transparent-pattern.png");
    background-size: 16px 16px;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: var(--primary-theme);
      color: var(--primary-primary);

      .mat-icon {
        font-size: 70px;
        width: 70px;
        height: 70px;
      }
    }

    > img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  &-bar {
    background: var(--backdrop-theme);
    border-color: var(--primary-theme);
    border-radius: $borderRadius;
  }
}

.item-label {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.m-r-m-i {
  margin-right: 10px !important;
}

.preview {
  &-image {
    max-width: 90%;
    max-height: 70vh;
  }

  &-video {
    max-width: 90%;
    max-height: 70vh;

    width: 90%;
    height: 100%;
  }
}
