<mat-toolbar role="heading" color="primary" class="sticky-header" *ngIf="!configuration.uploadMode || configuration.allowUpload">
  <span>File Manager</span>
  <div class="flex-1"></div>
  <ng-container *ngIf="loading$ | async">
    <mat-spinner diameter="30" color="accent" class="m-r-m"></mat-spinner>
  </ng-container>
  <button mat-raised-button (click)="openNewFolderDialog()" class="m-r-m-i">
    <mat-icon>create_new_folder</mat-icon>
    New Folder
  </button>
  <button mat-raised-button (click)="openUploadDialog()">
    <mat-icon>upload</mat-icon>
    Upload
  </button>
</mat-toolbar>

<section class="p-a-m w-full">
  <div class="flex ai-base" *ngIf="!configuration.hidePath">
    <div class="m-x-s">
      <button mat-icon-button [disabled]="routeControl.value === '/'" (click)="navigateBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <mat-form-field class="w-full path">
      <mat-label>Path</mat-label>
      <input matInput [formControl]="routeControl" />
    </mat-form-field>
  </div>

  <div *ngIf="data$ | async as data" [hidden]="(loading$ | async) && !loadMore">
    <mat-card class="m-b-m" *ngIf="data.folders.length > 0">
      <mat-card-header>
        <mat-card-title>Folders</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="grid jc-start">
          <div *ngFor="let folder of data.folders" class="col-3 col-m-4 col-s-6 col-xs-12">
            <div class="folder flex jc-between ai-center b-a p-a-s" (click)="appendFolder(folder.name)">
              <div class="flex ai-center">
                <div class="folder-icon">
                  <mat-icon>{{ folder.icon }}</mat-icon>
                </div>
                <span class="m-l-s item-label max-width-100">{{ folder.name }}</span>
              </div>

              <button mat-icon-button (jpStopPropagation)="appendFolder(folder.name)">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="data.files.length > 0">
      <mat-card-header>
        <mat-card-title>Files</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="grid jc-start">
          <div *ngFor="let file of data.files" class="col-4 col-m-6 col-s-12">
            <div class="file">
              <div class="file-preview">
                <img *ngIf="file.contentType.startsWith('image/'); else icon" [src]="file.downloadLink" alt="Image Preview" />
                <ng-template #icon>
                  <div class="file-preview-icon">
                    <mat-icon>{{ file.icon }}</mat-icon>
                  </div>
                </ng-template>
              </div>

              <div class="file-bar b-a p-a-s flex jc-between ai-center">
                <span class="item-label" [matTooltip]="(file.customMetadata?.displayName || file.name) + ' (' + (file.size | fileSize) + ')'">
                  {{ file.customMetadata?.displayName || file.name }} ({{ file.size | fileSize }})
                </span>
                <div>
                  <button mat-icon-button matTooltip="Download" (click)="downloadFile(file)" *ngIf="!file.contentType.startsWith('video/')">
                    <mat-icon>file_download</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Copy URL" [jpLoadClick]="copyURL(file)">
                    <mat-icon>content_copy</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Preview" *ngIf="['image', 'video', 'audio'].includes(file.contentType.split('/')[0])" (click)="previewFile(file)">
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Edit Metadata" (click)="editFileMetadata(file)">
                    <mat-icon>create</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Delete" color="warn" (click)="deleteFile(file)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="ta-center m-t-s" *ngIf="nextPageToken">
    <button mat-raised-button (click)="loadMoreFiles()">Load More</button>
  </div>
</section>

<ng-template #metadata let-data>
  <h4 mat-dialog-title>{{ data.file.name }}</h4>

  <form>
    <mat-dialog-content>
      <fb-form-builder #fB [data]="data.fb"></fb-form-builder>
    </mat-dialog-content>

    <mat-dialog-actions class="jc-end">
      <button mat-raised-button color="primary" [disabled]="fB.form.invalid" [jpLoadClick]="updateMetadata(data.file, fB.form)">Update</button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #newFolder let-data>
  <h4 mat-dialog-title>Create a New Folder</h4>

  <form [formGroup]="data.form">
    <mat-dialog-content>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="jc-end">
      <button mat-raised-button color="primary" (click)="createNewFolder(data.form)" [disabled]="data.form.invalid">Create</button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #upload let-data>
  <h4 mat-dialog-title>Upload File</h4>

  <input #file type="file" multiple hidden (change)="fileChange(data.form)" />

  <form [formGroup]="data.form" class="m-t-m">
    <mat-dialog-content>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Folder</mat-label>
        <input matInput formControlName="route" [readOnly]="data.form.get('uploadTask').value" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let folder of filteredFolders$ | async" [value]="folder">
            {{ folder }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Files</mat-label>
        <input matInput type="url" readonly formControlName="file" />
        <div matSuffix>
          <button mat-icon-button>
            <mat-icon (click)="openFileUpload()">attach_file</mat-icon>
          </button>
        </div>
      </mat-form-field>

      <div *ngIf="uploadProgress$ | async as progress" class="w-full flex ai-center">
        <mat-progress-bar class="flex-1" mode="determinate" color="accent" [value]="progress"></mat-progress-bar>
        <b>{{ progress }} %</b>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="jc-end">
      <div class="m-r-m" *ngIf="data.form.get('uploadTask').value && !data.form.get('paused').value">
        <button mat-raised-button (click)="pauseDownload(data.form)">Pause</button>
      </div>
      <div class="m-r-m" *ngIf="data.form.get('uploadTask').value && data.form.get('paused').value">
        <button mat-raised-button (click)="resumeDownload(data.form)">Resume</button>
      </div>
      <div class="m-r-m" *ngIf="data.form.get('uploadTask').value">
        <button mat-raised-button (click)="cancelDownload(data.form)" color="accent">Cancel</button>
      </div>
      <div>
        <button mat-raised-button (click)="startUpload(data.form)" color="primary" [disabled]="!file.files.length || !!data.form.get('uploadTask').value">Upload</button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #preview let-data>
  <div *ngIf="data.file.contentType.startsWith('image/')" class="flex jc-center">
    <img [src]="data.file.downloadLink" alt="Preview" class="preview-image" />
  </div>

  <div *ngIf="data.file.contentType.startsWith('video/')" class="flex jc-center">
    <video class="preview-video" controls controlsList="nodownload">
      <source [src]="data.file.downloadLink" />
    </video>
  </div>

  <div *ngIf="data.file.contentType.startsWith('audio/')" class="flex jc-center">
    <audio controls class="preview-audio" controlsList="nodownload">
      <source [src]="data.file.downloadLink" />
      Your browser does not support the audio element.
    </audio>
  </div>
</ng-template>
