@import "../../../../../scss/breakpoints";

$borderRadius: 4px;

.path {
  width: 100%;
}

.folder {

  background: var(--backdrop-theme);
  border-color: var(--primary-theme);
  border-radius: $borderRadius;
  cursor: pointer;

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--primary-theme);
    color: var(--primary-primary);
  }
}

.file {

  overflow: hidden;
  border-radius: $borderRadius;

  &-col {
    padding: 10px;
    width: 33.33%;

    @media (max-width: $screen-m) {
      width: 50%;
    }

    @media (max-width: $screen-s) {
      width: 100%;
    }
  }

  &-preview {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/transparent-pattern.png");
    background-size: 16px 16px;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: var(--primary-theme);
      color: var(--primary-primary);

      .mat-icon {
        font-size: 70px;
        width: 70px;
        height: 70px;
      }
    }

    > img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  &-bar {
    background: var(--backdrop-theme);
    border-color: var(--primary-theme);
    border-radius: $borderRadius;
  }
}

.item-label {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.m-r-m-i {
  margin-right: 10px !important;
}

.preview {
  &-image {
    max-width: 90%;
    max-height: 70vh;
  }

  &-video {
    max-width: 90%;
    max-height: 70vh;

    width: 90%;
    height: 100%;
  }
}

section {
  padding: 20px;

  &.selection-mode {
    padding: 0;

    .path {
      width: auto;
    }

    .item-card {
      > mat-card {
        box-shadow: none;
        padding: 0;

        > .mat-card-header {
          padding: 0;
          margin: 0;
        }
      }
    }

    .file {
      height: auto;
      cursor: pointer;
    }

    .file-preview {
      height: 130px;
    }

    .file-col {
      width: 33.33%;
    }
  }
}