:root {
    --primary-theme     : #3f51b5;
    --primary-primary   : rgba(255,255,255,1);
    --primary-secondary : rgba(255,255,255,.8);
    --primary-tertiary  : rgba(255,255,255,.15);
    --accent-theme      : #ff4081;
    --accent-primary    : rgba(255,255,255,1);
    --accent-secondary  : rgba(255,255,255,.8);
    --accent-tertiary   : rgba(255,255,255,.15);
    --warn-theme        : #dc143c;
    --warn-primary      : rgba(255,255,255,1);
    --warn-secondary    : rgba(255,255,255,.8);
    --warn-tertiary     : rgba(255,255,255,.15);
    --backdrop-theme    : #f1f2f4;
    --backdrop-primary  : rgba(0,0,0,.9);
    --backdrop-secondary: rgba(0,0,0,.7);
    --backdrop-tertiary : rgba(0,0,0,.15);
    --panel-theme       : #fff;
    --panel-primary     : rgba(0,0,0,.9);
    --panel-secondary   : rgba(0,0,0,.7);
    --panel-tertiary    : rgba(0,0,0,.15);
    --sidebar-theme     : #fff;
    --sidebar-primary   : rgba(0,0,0,.9);
    --sidebar-secondary : rgba(0,0,0,.7);
    --sidebar-tertiary  : rgba(0,0,0,.1);
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box; /* [1] */
    word-wrap: break-word; /* [2] */
    overflow-wrap: break-word; /* [2] */
    -moz-osx-font-smoothing: grayscale; /* [3] */
    -webkit-font-smoothing: antialiased; /* [3] */
}

body {
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/* Margin resets
 *============================================================================*/

h1, h2, h3, p, ol, ul, hr {
    margin:  0;
}

li > ol, ul {
    margin-bottom: 0;
}



/* Semantic markup
 *============================================================================*/

small {
    font-size: .8em;
}

b, strong {
    font-weight: 700;
}

i, em {
    font-style: italic;
}

u {
    text-decoration: underline;
}



/* Hyperlinks
 *============================================================================*/

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}



/* Buttons
 *============================================================================*/

button {
    cursor: pointer;
}



/* Images
 *============================================================================*/
/**
 * 1. Images will retain their aspect ratio on screen resizing. They
      will never scale up to be larger than their original size.
 * 2. Removes whitespace under images.
 */

img {
    max-width: 100%; /* [1] */
    height: auto; /* [1] */
    vertical-align: middle; /* [2] */
}
