<section>
  <mat-card>
    <h6 class="m-b-l p-t-m ta-center">{{'FINISH_SIGN_UP' | transloco}}</h6>
    <form [formGroup]="form">

      <mat-form-field class="w-full">
        <mat-label>{{'PASSWORD' | transloco}}</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{'REPEAT_PASSWORD' | transloco}}</mat-label>
        <input type="password" matInput formControlName="repeatPassword" />
      </mat-form-field>

      <button
        type="submit"
        mat-flat-button
        color="primary"
        class="w-full"
        [disabled]="form.invalid"
        [jpLoadClick]="save()">
        {{'SUBMIT' | transloco}}
      </button>
    </form>
  </mat-card>

</section>
