name: Deploy CMS
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'client/**/*'
      - '.github/workflows/cms.workflow.yml'
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Install Dependencies
        run: |
          npm --prefix client ci
      - name: Build
        run: npm run build:cms
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting:cms
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: 'zavo-jms'
