name: Deploy CMS
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'definitions/**/*'
      - 'client/projects/cms/**/*'
      - '.github/workflows/cms.workflow.yml'
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      project: 'jaspero-jms'
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Use Node.js 17.1.0
        uses: actions/setup-node@v1
        with:
          node-version: 17.1.0
      - name: Prepare definitions package
        run: |
          npm --prefix definitions ci
          npm --prefix definitions run build
      - name: Install Dependencies
        run: |
          npm --prefix client ci
      - name: Build
        run: npm run build:cms
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting:cms
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: ${{ env.project }}
