name: Deploy Functions
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'functions/**/*'
      - '.github/workflows/functions.workflow.yml'
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env: 
      project: 'jaspero-jms'
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install GitHub Utils Dependencies
        run: |
          npm ci --prefix .github/utils
      - id: file_changes
        uses: trilom/file-changes-action@v1.2.4
      - name: Detect file changes
        id: changes
        run: |
          echo ::set-output name=CHANGES::$(node ./.github/utils/function-changes.js '${{ steps.file_changes.outputs.files_modified}}' '${{ steps.file_changes.outputs.files_added}}')
      - name: Install Dependencies
        if: ${{ steps.changes.outputs.CHANGES }}
        run: |
          npm ci
          npm install firebase-tools
          npm --prefix functions ci
          npm --prefix functions run build
      - name: Set project
        if: ${{ steps.changes.outputs.CHANGES }}
        run: npm run firebase -- use ${{ env.project }} --token $FIREBASE_TOKEN
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      - name: Deploy
        if: ${{ steps.changes.outputs.CHANGES }}
        run: npm run firebase -- deploy --only $FILES --token $FIREBASE_TOKEN
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          FILES: ${{ steps.changes.outputs.CHANGES }}
