name: Deploy Firestore Indexes
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'firestore.indexes.json'
      - '.github/workflows/indexes.workflow.yml'

jobs:
  deploy:
    env: 
      project: 'jaspero-jms'
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only firestore:indexes --force
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: ${{ env.project }}
