name: Deploy Rules
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'firestore.rules'
      - '.github/workflows/rules.workflow.yml'

jobs:
  deploy:
    env: 
      project: 'jp-site-tracker'
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only firestore:rules
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: ${{ env.project }}
