//
// Custom Theming for Angular Material
//
// For more information: https://material.angular.io/guide/theming
//
// =============================================================================



// Include the common styles for Angular Material
// =============================================================================
// We include this here so that you only have to load a single css file for
// Angular Material in your app. Be sure that you only ever include this mixin
// once!

@import '~@angular/material/theming';
@include mat-core();



// Theme defining
// =============================================================================
// Define the palettes for your theme using the Material Design palettes
// available in palette.scss (imported above). For each palette, you can
// optionally specify a default, lighter, and darker hue.
// Available color palettes: https://material.io/design/color/

$primary: (
  100: var(--primary-light),
  500: var(--primary),
  700: var(--primary-dark),
  contrast: (
    100: var(--primary-light-c),
    500: var(--primary-c-1),
    700: var(--primary-dark-c)
  )
);
$accent: (
  100: var(--accent-light),
  500: var(--accent),
  700: var(--accent-dark),
  contrast: (
    100: var(--accent-light-c),
    500: var(--accent-c-1),
    700: var(--accent-dark-c)
  )
);
$warn: (
  100: var(--warn-light),
  500: var(--warn),
  700: var(--warn-dark),
  contrast: (
    100: var(--warn-light-c),
    500: var(--warn-c-1),
    700: var(--warn-dark-c)
  )
);

$jms-primary: mat-palette($primary);
$jms-accent : mat-palette($accent);
$jms-warn   : mat-palette($warn);

$jms-theme: mat-light-theme($jms-primary, $jms-accent, $jms-warn);

@include angular-material-theme($jms-theme);



// Typography
// =============================================================================
// Define a custom typography config

$jms-typography: mat-typography-config(
  $font-family: "sans-serif",
  $body-2: mat-typography-level(.875rem, 1.5px, 700),
  $input: mat-typography-level(.875rem, 1.25, 700),
  $button: mat-typography-level(.875rem, 1, 700),
);

@include angular-material-typography($jms-typography);



// Autocomplete
// =============================================================================

// Custom style



// Badge
// =============================================================================

// Custom style



// Bottom Sheet
// =============================================================================

// Custom style



// Button
// =============================================================================

// Custom style



// Button toggle
// =============================================================================

// Custom style



// Card
// =============================================================================

.mat-card-header.mat-card-header.mat-card-header {
  margin: -16px -16px 16px -16px;
  padding: 16px;
  border-bottom: 1px solid var(--panel-c-3);
}

.mat-card-header-text.mat-card-header-text {
  margin: 0;
}

.mat-card-title.mat-card-title.mat-card-title {
  margin: 0;
}

.mat-card-subtitle.mat-card-subtitle.mat-card-subtitle.mat-card-subtitle {
  margin-bottom: 0;
  margin-top: 4px;
}

.mat-card-actions.mat-card-actions.mat-card-actions.mat-card-actions {
  margin: 16px -16px -16px;
  padding: 16px;
  border-top: 1px solid var(--panel-c-3);
}

.mat-card-footer {
  margin: 0 -16px -16px;
  padding: 16px;
  border-top: 1px solid var(--panel-c-3);
}

// Custom class that insets mat-card-content
.mat-card-content.mat-card-content-inset.mat-card-content-inset.mat-card-content-inset {
  margin: -16px;
}



// Checkbox
// =============================================================================

// Custom style



// Chips
// =============================================================================

// Custom style



// Datepicker
// =============================================================================

// Custom style



// Dialog
// =============================================================================

.cdk-overlay-pane {
  max-width: calc(100vw - 2rem) !important;
}

.mat-dialog-title.mat-dialog-title {
  padding: 24px;
  margin: -24px -24px 0;
  border-bottom: 1px solid var(--panel-c-3);
}

.mat-dialog-content.mat-dialog-content {
  padding: 16px 24px;
}

.mat-dialog-actions.mat-dialog-actions {
  padding: 16px 24px;
  margin: 0 -24px -24px;
  border-top: 1px solid var(--panel-c-3);
}





// Divider
// =============================================================================

.mat-card .mat-divider-horizontal.mat-divider-horizontal {
  position: static;
}



// Expansion Panel
// =============================================================================

// Custom style



// Form field
// =============================================================================

.mat-form-field-no-hint .mat-form-field-wrapper,
.mat-table .mat-form-field-wrapper {
  padding-bottom: 0;
}



// Grid list
// =============================================================================

// Custom style



// Icon
// =============================================================================

// Custom style



// Input
// =============================================================================

// Custom style



// List
// =============================================================================

.mat-list-base.mat-list-base.mat-list-base {
  padding-top: 0;
}



// Menu
// =============================================================================

// Custom style



// Paginator
// =============================================================================

// Custom style



// Progress bar
// =============================================================================

// Custom style



// Progress spinner
// =============================================================================

// Custom style



// Radio button
// =============================================================================

// Custom style



// Ripples
// =============================================================================

// Custom style



// Select
// =============================================================================

// Custom style



// Sidenav
// =============================================================================

// Custom style



// Slide toggle
// =============================================================================

.mat-slide-toggle.mat-checked.mat-primary .mat-slide-toggle-bar {
  background: var(--main-light);
}

.mat-slide-toggle.mat-checked.mat-accent .mat-slide-toggle-bar {
  background: var(--accent-light);
}

.mat-slide-toggle.mat-checked.mat-warn .mat-slide-toggle-bar {
  background: var(--warn-light);
}



// Slider
// =============================================================================

// Custom style



// Snackbar
// =============================================================================

// Custom style



// Sort header
// =============================================================================

// Custom style



// Stepper
// =============================================================================

// Custom style



// Table
// =============================================================================

.mat-table.mat-table {
  width: 100%;
  border-collapse: separate;
}

.mat-cell.mat-cell,
.mat-footer-cell.mat-footer-cell,
.mat-header-cell.mat-header-cell {
  padding: 8px;
  background: var(--panel);
  font-size: 12px;
  overflow: hidden;

  &.mat-column-check,
  &.mat-column-actions {
    padding: 0;
    width: 48px;
    min-width: 48px;
    text-align: center;
  }

  &.mat-column-check {
    box-shadow: inset -1px 0 0 0 var(--panel-c-3);
  }

  // Last column is reserved for a row actions
  &.mat-column-actions {
    box-shadow: inset 1px 0 0 0 var(--panel-c-3);
  }
}

// Smaller screens layout
@media (max-width: 900px) {
  .mat-header-row {
    opacity : 0;
    position: absolute;
    z-index : -1;
  }

  .mat-row.mat-row {
    display: block;
    height: unset;
    padding: 8px 0;
    border-bottom: 1px solid var(--panel-c-3);
  }

  .mat-cell.mat-cell,
  .mat-footer-cell.mat-footer-cell,
  .mat-header-cell.mat-header-cell {
    display: flex;
    align-items: baseline;
    border: none;
    padding: 8px;
    border-bottom: 1px dashed var(--panel-c-3);
    text-align: right;

    &.mat-column-check,
    &.mat-column-actions {
      padding: 8px;
      width: unset;
      min-width: unset;
      text-align: unset;
      box-shadow: none;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:before {
      content: attr(data-label);
      margin-right: auto;
      padding-right: 8px;
      text-align: left;
    }
  }
}



// Tabs
// =============================================================================

// Custom style



// Toolbar
// =============================================================================

// Custom style



// Tooltip
// =============================================================================

// Custom style
